<a href="https://colab.research.google.com/github/PRihana/Machine-learning/blob/master/23_03_2020(ML)Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

- What is the argument we should use to mentions the fisrt row in the datset are not columns
- what is the value we should send for that argument
  - Answer: We should use header=None
- Read the data in the data.csv file in the proper format
- Use ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'] as columns

In [2]:
import pandas as pd
df=pd.read_csv("/content/sample.csv",names=['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'],sep='\t' )
print(df.columns)
print(df.shape)
print(df.index)
df.head()

Index(['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'], dtype='object')
(5, 6)
RangeIndex(start=0, stop=5, step=1)

                  my_datetime  event  country  user_id  source  topic
0            name,salary,year    NaN      NaN      NaN     NaN    NaN
1      Raj Acharya,45000,2015    NaN      NaN      NaN     NaN    NaN
2      SaiTeja Ram,78000,2012    NaN      NaN      NaN     NaN    NaN
3    Hemendra Arya,32000,2018    NaN      NaN      NaN     NaN    NaN
4  Revanth Sundarm,15000,2019    NaN      NaN      NaN     NaN    NaN

- Read the data in the ceral.csv file in the proper format

In [5]:
data=pd.read_csv("/content/cereal.csv")
print(data.shape)
print(data.columns)
print(data.index)
data.head()

(78, 1)
Index(['X.1\tX.2\tX.3\tX.4\tX.5\tX.6\tX.7\tX.8\tX.9\tX.10\tX.11\tX.12\tX.13\tX.14\tX.15\tX.16'], dtype='object')
RangeIndex(start=0, stop=78, step=1)

  X.1\tX.2\tX.3\tX.4\tX.5\tX.6\tX.7\tX.8\tX.9\tX.10\tX.11\tX.12\tX.13\tX.14\tX.15\tX.16
0  name\tmfr\ttype\tcalories\tprotein\tfat\tsodiu...
1  100% Bran\tN\tC\t70\t4\t1\t130\t10\t5\t6\t280\...
2  100% Natural Bran\tQ\tC\t120\t3\t5\t15\t2\t8\t...
3  All-Bran\tK\tC\t70\t4\t1\t260\t9\t7\t5\t320\t2...
4  All-Bran with Extra Fiber\tK\tC\t50\t4\t0\t140...

- Read "Sensor Data.xls" as DataFrame

In [7]:
xls=pd.read_excel("/content/Sensor Data.xls")
print(xls.shape)
print(xls.columns)
print(xls.index)
xls

(2212, 15)
Index(['Input 1', 'Input 2', 'Input 3', 'Input 4', 'Input 5', 'Input 6',
       'Input 7', 'Input 8', 'Input 9', 'Input 10 ', 'Input 11 ', 'Input 12',
       'output1', 'output2', 'class'],
      dtype='object')
RangeIndex(start=0, stop=2212, step=1)

      Input 1  Input 2  Input 3  Input 4  ...  Input 12  output1  output2  class
0       1.473    2.311    3.179    2.666  ...     4.712        1        1    one
1       1.460    2.377    3.214    2.920  ...     5.463        1        1    one
2       1.552    2.164    3.064    2.745  ...     5.332        1        1    one
3       1.605    2.228    3.149    2.834  ...     4.829        1        1    one
4       1.534    2.114    3.309    2.976  ...     5.734        1        1    one
...       ...      ...      ...      ...  ...       ...      ...      ...    ...
2207    3.682    1.301    4.939    4.453  ...     5.125        0        1    two
2208    3.412    1.293    4.949    4.199  ...     5.433        0        1    two
2209    3.640    1.284    5.111    4.460  ...     4.867        0        1    two
2210    3.746    1.261    5.049    4.885  ...     5.627        0        1    two
2211    3.959    1.108    5.422    4.835  ...     5.623        0        1    two

[2212 rows x 15 columns]

In [8]:
xls.head()

   Input 1  Input 2  Input 3  Input 4  ...  Input 12  output1  output2  class
0    1.473    2.311    3.179    2.666  ...     4.712        1        1    one
1    1.460    2.377    3.214    2.920  ...     5.463        1        1    one
2    1.552    2.164    3.064    2.745  ...     5.332        1        1    one
3    1.605    2.228    3.149    2.834  ...     4.829        1        1    one
4    1.534    2.114    3.309    2.976  ...     5.734        1        1    one

[5 rows x 15 columns]

In [9]:
xls.tail(10)

      Input 1  Input 2  Input 3  Input 4  ...  Input 12  output1  output2  class
2202    4.257   0.9558    5.598    5.454  ...     5.044        0        1    two
2203    4.032   0.7959    5.350    5.460  ...     5.468        0        1    two
2204    3.976   0.8899    5.543    4.835  ...     5.015        0        1    two
2205    3.453   1.4810    4.355    4.058  ...     5.563        0        1    two
2206    3.401   1.2260    4.624    4.265  ...     4.757        0        1    two
2207    3.682   1.3010    4.939    4.453  ...     5.125        0        1    two
2208    3.412   1.2930    4.949    4.199  ...     5.433        0        1    two
2209    3.640   1.2840    5.111    4.460  ...     4.867        0        1    two
2210    3.746   1.2610    5.049    4.885  ...     5.627        0        1    two
2211    3.959   1.1080    5.422    4.835  ...     5.623        0        1    two

[10 rows x 15 columns]

In [10]:
xls.sample(3)

      Input 1  Input 2  Input 3  Input 4  ...  Input 12  output1  output2  class
677     2.756   2.3500    4.897    4.081  ...    5.0950        0        1    two
514     4.133   0.8459    5.365    5.209  ...    5.4240        0        1    two
1052    4.714   0.5640    5.775    5.892  ...    0.8655        1        0  three

[3 rows x 15 columns]

In [11]:
# what type of data you have
print(type(xls))

<class 'pandas.core.frame.DataFrame'>

In [12]:
# In the data you have observed are there any missing values(NaN)
xls.isnull()

      Input 1  Input 2  Input 3  Input 4  ...  Input 12  output1  output2  class
0       False    False    False    False  ...     False    False    False  False
1       False    False    False    False  ...     False    False    False  False
2       False    False    False    False  ...     False    False    False  False
3       False    False    False    False  ...     False    False    False  False
4       False    False    False    False  ...     False    False    False  False
...       ...      ...      ...      ...  ...       ...      ...      ...    ...
2207    False    False    False    False  ...     False    False    False  False
2208    False    False    False    False  ...     False    False    False  False
2209    False    False    False    False  ...     False    False    False  False
2210    False    False    False    False  ...     False    False    False  False
2211    False    False    False    False  ...     False    False    False  False

[2212 rows x 15 columns]

In [13]:
# print the datatype of each column
xls.dtypes

Input 1      float64
Input 2      float64
Input 3      float64
Input 4      float64
Input 5      float64
Input 6      float64
Input 7      float64
Input 8      float64
Input 9      float64
Input 10     float64
Input 11     float64
Input 12     float64
output1        int64
output2        int64
class         object
dtype: object

In [14]:
# For each datatype how many columns are there
xls.dtypes.value_counts()

float64    12
int64       2
object      1
dtype: int64

In [15]:
# Choose any specific column
# check its data type
type(xls["Input 3"])

pandas.core.series.Series

In [16]:
# check how many non null values are there
xls["Input 3"].notnull().sum()

2212

In [17]:
# If it is numerical column
# caluculate min,max,mean,mode,sum,std,median
# calculate 25%,50%,75% quartile values uisng np.quantile
# calculate the range
xls["Input 3"].dtypes

dtype('float64')

In [0]:
xls["Input 3"].describe()

In [18]:
xls["Input 3"].mode()

0    5.245
1    5.564
2    5.707
dtype: float64

In [19]:
xls["Input 3"].median()

5.319

In [20]:
# it is a categorical column calculate
# the count
# unique value count
# unique values
# frequency for each unique value
xls['class']

0       one
1       one
2       one
3       one
4       one
       ...
2207    two
2208    two
2209    two
2210    two
2211    two
Name: class, Length: 2212, dtype: object

In [21]:
xls['class'].count()

2212

In [22]:
xls['class'].value_counts()

one      947
two      799
three    466
Name: class, dtype: int64

In [23]:
xls['class'].unique()

array(['one', 'two', 'three'], dtype=object)

In [24]:
# otherwise
xls['class'].describe()

count     2212
unique       3
top        one
freq       947
Name: class, dtype: object

In [25]:
# Using describe function observe the different measures for numerical and categorical columns
xls.describe()

           Input 1      Input 2  ...      output1      output2
count  2212.000000  2212.000000  ...  2212.000000  2212.000000
mean      3.610539     1.842638  ...     0.638788     0.789331
std       1.138348     1.134857  ...     0.480460     0.407876
min       1.129000     0.324700  ...     0.000000     0.000000
25%       3.004750     0.865500  ...     0.000000     1.000000
50%       4.052000     1.533000  ...     1.000000     1.000000
75%       4.485250     2.631750  ...     1.000000     1.000000
max       5.105000     4.675000  ...     1.000000     1.000000

[8 rows x 14 columns]

In [26]:
# Use the info function to get the detailed info of the dataframe
xls.info

<bound method DataFrame.info of       Input 1  Input 2  Input 3  Input 4  ...  Input 12  output1  output2  class
0       1.473    2.311    3.179    2.666  ...     4.712        1        1    one
1       1.460    2.377    3.214    2.920  ...     5.463        1        1    one
2       1.552    2.164    3.064    2.745  ...     5.332        1        1    one
3       1.605    2.228    3.149    2.834  ...     4.829        1        1    one
4       1.534    2.114    3.309    2.976  ...     5.734        1        1    one
...       ...      ...      ...      ...  ...       ...      ...      ...    ...
2207    3.682    1.301    4.939    4.453  ...     5.125        0        1    two
2208    3.412    1.293    4.949    4.199  ...     5.433        0        1    two
2209    3.640    1.284    5.111    4.460  ...     4.867        0        1    two
2210    3.746    1.261    5.049    4.885  ...     5.627        0        1    two
2211    3.959    1.108    5.422    4.835  ...     5.623        0        1    two

[2212 rows x 15 columns]>