<a href="https://colab.research.google.com/github/PRihana/Machine-learning/blob/master/26_03_2020(ML)Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

**reading a CSV file as a dataframe**

In [0]:
# read global_sales_data\market_fact.csv into a varaible market_df
market_df = pd.read_csv("/content/market_fact.csv")
market_df

        Ord_id  Prod_id   Ship_id  ...   Profit  Shipping_Cost  Product_Base_Margin
0     Ord_5446  Prod_16  SHP_7609  ...   -30.51           3.60                 0.56
1     Ord_5406  Prod_13  SHP_7549  ...     4.56           0.93                 0.54
2     Ord_5446   Prod_4  SHP_7610  ...  1148.90           2.50                 0.59
3     Ord_5456   Prod_6  SHP_7625  ...   729.34          14.30                 0.37
4     Ord_5485  Prod_17  SHP_7664  ...  1219.87          26.30                 0.38
...        ...      ...       ...  ...      ...            ...                  ...
8394  Ord_5353   Prod_4  SHP_7479  ...   374.63           7.69                 0.59
8395  Ord_5411   Prod_6  SHP_7555  ...   -74.03           6.92                 0.37
8396  Ord_5388   Prod_6  SHP_7524  ...   -70.85           5.35                 0.40
8397  Ord_5348  Prod_15  SHP_7469  ...   565.34          30.00                 0.62
8398  Ord_5459   Prod_6  SHP_7628  ...   131.39           4.86                 0.38

[8399 rows x 10 columns]

In [0]:
# Looking at the datatypes of each column using info
market_df.describe(include=object).columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id'], dtype='object')

In [0]:
market_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [0]:
# Get the Column names
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [0]:
#Get the summary of all the numeric columns in the dataset
market_df._get_numeric_data()

          Sales  Discount  ...  Shipping_Cost  Product_Base_Margin
0      136.8100      0.01  ...           3.60                 0.56
1       42.2700      0.01  ...           0.93                 0.54
2     4701.6900      0.00  ...           2.50                 0.59
3     2337.8900      0.09  ...          14.30                 0.37
4     4233.1500      0.08  ...          26.30                 0.38
...         ...       ...  ...            ...                  ...
8394  2841.4395      0.08  ...           7.69                 0.59
8395   127.1600      0.10  ...           6.92                 0.37
8396   243.0500      0.02  ...           5.35                 0.40
8397  3872.8700      0.03  ...          30.00                 0.62
8398   603.6900      0.00  ...           4.86                 0.38

[8399 rows x 6 columns]

In [0]:
# The number of rows and columns
total_rows=len(market_df.axes[0])
total_cols=len(market_df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 8399
Number of Columns: 10

In [63]:
#or
market_df.shape

(8399, 10)

In [0]:
# Extract the values of a dataframe as a numpy array
print(market_df.values)
type(market_df.values)

[['Ord_5446' 'Prod_16' 'SHP_7609' ... -30.51 3.6 0.56]
 ['Ord_5406' 'Prod_13' 'SHP_7549' ... 4.56 0.93 0.54]
 ['Ord_5446' 'Prod_4' 'SHP_7610' ... 1148.9 2.5 0.59]
 ...
 ['Ord_5388' 'Prod_6' 'SHP_7524' ... -70.85 5.35 0.4]
 ['Ord_5348' 'Prod_15' 'SHP_7469' ... 565.34 30.0 0.62]
 ['Ord_5459' 'Prod_6' 'SHP_7628' ... 131.39 4.86 0.38]]

numpy.ndarray

In [0]:
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [0]:
# Setting index to Ord_id and store the result in new dataframe market_df_ord
# Don't modify original dataset
market_df_ord = market_df.set_index('Ord_id')
market_df.head()

     Ord_id  Prod_id   Ship_id  ...   Profit  Shipping_Cost  Product_Base_Margin
0  Ord_5446  Prod_16  SHP_7609  ...   -30.51           3.60                 0.56
1  Ord_5406  Prod_13  SHP_7549  ...     4.56           0.93                 0.54
2  Ord_5446   Prod_4  SHP_7610  ...  1148.90           2.50                 0.59
3  Ord_5456   Prod_6  SHP_7625  ...   729.34          14.30                 0.37
4  Ord_5485  Prod_17  SHP_7664  ...  1219.87          26.30                 0.38

[5 rows x 10 columns]

In [0]:
pd.reset_option('display.max_rows')

In [0]:
#  Sorting market_df_ord by index
# axis = 0 indicates that you want to sort rows (use axis=1 for columns)
market_df_ord.sort_index()

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1      Prod_1     SHP_1  ...         35.00                 0.80
Ord_10     Prod_3    SHP_13  ...          2.99                 0.37
Ord_100    Prod_8   SHP_138  ...          1.99                 0.44
Ord_1000   Prod_6  SHP_1384  ...          6.47                 0.38
Ord_1001   Prod_5  SHP_1385  ...          8.66                 0.76
...           ...       ...  ...           ...                  ...
Ord_997   Prod_14  SHP_1379  ...         24.49                 0.37
Ord_998    Prod_5  SHP_1382  ...         19.99                 0.55
Ord_998    Prod_8  SHP_1380  ...          4.00                 0.60
Ord_998    Prod_8  SHP_1381  ...          6.50                 0.79
Ord_999   Prod_15  SHP_1383  ...         30.00                 0.62

[8399 rows x 9 columns]

In [65]:
# Sorting market_df_ord by values
# Sorting in increasing order of Sales
market_df_ord.index.sort_values()

Index(['Ord_1', 'Ord_10', 'Ord_100', 'Ord_1000', 'Ord_1001', 'Ord_1002',
       'Ord_1003', 'Ord_1003', 'Ord_1004', 'Ord_1004',
       ...
       'Ord_996', 'Ord_996', 'Ord_996', 'Ord_996', 'Ord_996', 'Ord_997',
       'Ord_998', 'Ord_998', 'Ord_998', 'Ord_999'],
      dtype='object', name='Ord_id', length=8399)

In [66]:
# Sorting market_df_ord by index
# axis = 0 indicates that you want to sort rows (use axis=1 for columns)
market_df_ord.sort_index(axis=0, ascending = True, inplace = True, by=[ 'Ship_id'] ) #market_df_ord.sort_index(axis=1)
market_df_ord

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

         Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                      ...
Ord_1     Prod_1     SHP_1  ...         35.00                 0.80
Ord_8     Prod_7    SHP_10  ...          2.00                 0.53
Ord_8     Prod_6    SHP_10  ...          6.18                 0.40
Ord_75   Prod_11   SHP_100  ...         29.21                 0.74
Ord_735   Prod_5  SHP_1000  ...          3.77                 0.39
...          ...       ...  ...           ...                  ...
Ord_730  Prod_15   SHP_995  ...         54.31                 0.55
Ord_731   Prod_5   SHP_996  ...         37.58                 0.78
Ord_732   Prod_8   SHP_997  ...          1.99                 0.54
Ord_733   Prod_3   SHP_998  ...          1.49                 0.39
Ord_734  Prod_13   SHP_999  ...          2.89                 0.60

[8399 rows x 9 columns]

In [67]:
# Sorting market_df_ord by values
# Sorting in increasing order of Sales
market_df_ord.sort_values('Sales', inplace=True)
market_df_ord

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_704    Prod_7   SHP_964  ...          0.70                 0.37
Ord_149    Prod_3  SHP_7028  ...          1.49                 0.37
Ord_4270   Prod_7  SHP_5959  ...          0.70                 0.81
Ord_4755  Prod_13  SHP_6628  ...          0.70                 0.56
Ord_2252   Prod_3  SHP_3064  ...          1.49                 0.37
...           ...       ...  ...           ...                  ...
Ord_4614  Prod_14  SHP_6423  ...         24.49                 0.44
Ord_2373  Prod_14  SHP_3259  ...         24.49                 0.37
Ord_3875  Prod_17  SHP_5370  ...         24.49                 0.39
Ord_2338  Prod_17  SHP_3207  ...         24.49                 0.39
Ord_3084  Prod_17  SHP_4279  ...         24.49                 0.39

[8399 rows x 9 columns]

In [68]:
# Sorting in decreasing order of Shipping_Cost
market_df_ord.sort_values('Shipping_Cost', ascending= False, inplace=True)
market_df_ord

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1751  Prod_15  SHP_2426  ...        164.73                 0.56
Ord_839   Prod_11  SHP_1361  ...        154.12                 0.76
Ord_1741  Prod_11  SHP_2411  ...        147.12                 0.80
Ord_417   Prod_11   SHP_561  ...        147.12                 0.80
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
...           ...       ...  ...           ...                  ...
Ord_1987  Prod_12  SHP_2716  ...          0.49                 0.37
Ord_1387  Prod_12  SHP_1914  ...          0.49                 0.38
Ord_1890  Prod_12  SHP_2596  ...          0.49                 0.38
Ord_284   Prod_12   SHP_384  ...          0.49                 0.36
Ord_3484  Prod_12  SHP_4824  ...          0.49                 0.39

[8399 rows x 9 columns]

In [69]:
market_df_ord.index

Index(['Ord_1751', 'Ord_839', 'Ord_1741', 'Ord_417', 'Ord_1581', 'Ord_1021',
       'Ord_1686', 'Ord_906', 'Ord_2746', 'Ord_5039',
       ...
       'Ord_2400', 'Ord_1285', 'Ord_2852', 'Ord_428', 'Ord_23', 'Ord_1987',
       'Ord_1387', 'Ord_1890', 'Ord_284', 'Ord_3484'],
      dtype='object', name='Ord_id', length=8399)

In [70]:
# Selecting the rows from indices 2 to 6
market_df_ord.iloc[2:7,:]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1741  Prod_11  SHP_2411  ...        147.12                 0.80
Ord_417   Prod_11   SHP_561  ...        147.12                 0.80
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
Ord_1021  Prod_15  SHP_1411  ...        130.00                 0.78
Ord_1686  Prod_15  SHP_2331  ...        126.00                 0.60

[5 rows x 9 columns]

In [71]:
print(market_df_ord.shape)
market_df_ord

(8399, 9)

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1751  Prod_15  SHP_2426  ...        164.73                 0.56
Ord_839   Prod_11  SHP_1361  ...        154.12                 0.76
Ord_1741  Prod_11  SHP_2411  ...        147.12                 0.80
Ord_417   Prod_11   SHP_561  ...        147.12                 0.80
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
...           ...       ...  ...           ...                  ...
Ord_1987  Prod_12  SHP_2716  ...          0.49                 0.37
Ord_1387  Prod_12  SHP_1914  ...          0.49                 0.38
Ord_1890  Prod_12  SHP_2596  ...          0.49                 0.38
Ord_284   Prod_12   SHP_384  ...          0.49                 0.36
Ord_3484  Prod_12  SHP_4824  ...          0.49                 0.39

[8399 rows x 9 columns]

In [72]:
# Selecting alternate rows starting from index = 5
market=market_df_ord.iloc[5::2]
print(market.shape)
market

(4197, 9)

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1021  Prod_15  SHP_1411  ...        130.00                 0.78
Ord_906   Prod_11  SHP_1248  ...        110.20                 0.73
Ord_5039  Prod_11  SHP_7031  ...        110.20                 0.67
Ord_2807  Prod_11  SHP_3864  ...        110.20                 0.67
Ord_5299  Prod_11  SHP_7398  ...        110.20                 0.67
...           ...       ...  ...           ...                  ...
Ord_2400  Prod_12  SHP_3292  ...          0.49                 0.37
Ord_2852  Prod_12  SHP_3925  ...          0.49                 0.38
Ord_23    Prod_12    SHP_31  ...          0.49                 0.38
Ord_1387  Prod_12  SHP_1914  ...          0.49                 0.38
Ord_284   Prod_12   SHP_384  ...          0.49                 0.36

[4197 rows x 9 columns]

In [73]:
# Select Sales column as series
market_df_ord.Sales

Ord_id
Ord_1751    14740.510
Ord_839     12689.870
Ord_1741    15168.820
Ord_417     20333.816
Ord_1581     2573.920
              ...
Ord_1987       72.930
Ord_1387      103.620
Ord_1890      251.050
Ord_284        97.130
Ord_3484      195.510
Name: Sales, Length: 8399, dtype: float64

In [74]:
# Select Sales column as DataFrame
market_df_ord[['Sales']]

              Sales
Ord_id
Ord_1751  14740.510
Ord_839   12689.870
Ord_1741  15168.820
Ord_417   20333.816
Ord_1581   2573.920
...             ...
Ord_1987     72.930
Ord_1387    103.620
Ord_1890    251.050
Ord_284      97.130
Ord_3484    195.510

[8399 rows x 1 columns]

In [75]:
# Select Cust_id, Sales and Profit
market_df_ord[['Cust_id','Sales','Profit']]

            Cust_id      Sales   Profit
Ord_id
Ord_1751   Cust_597  14740.510  3407.73
Ord_839    Cust_364  12689.870  -169.23
Ord_1741   Cust_595  15168.820 -1096.78
Ord_417    Cust_156  20333.816 -1430.45
Ord_1581   Cust_519   2573.920   117.23
...             ...        ...      ...
Ord_1987   Cust_749     72.930    28.55
Ord_1387   Cust_535    103.620    39.98
Ord_1890   Cust_880    251.050   118.79
Ord_284    Cust_105     97.130   -37.06
Ord_3484  Cust_1253    195.510    95.56

[8399 rows x 3 columns]

In [76]:
# Selecting a single element
# Select the element in  the third row and fifth column (Sales)
market_df_ord.iloc[3,5]

45

In [77]:
# Selecting a single element
# Select row label = 2 and column label = 'Sales
market_df_ord.loc['Ord_1581','Sales']

Ord_id
Ord_1581    2573.9200
Ord_1581    2795.0040
Ord_1581     727.6400
Ord_1581    2564.5775
Ord_1581     382.1900
Name: Sales, dtype: float64

In [78]:
# Selecting rows using a range of labels from 4 to 8
# selct the row uisng loc and iloc and observe  difference between iloc and loc
print(market_df_ord.iloc[4:9, :])

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
Ord_1021  Prod_15  SHP_1411  ...        130.00                 0.78
Ord_1686  Prod_15  SHP_2331  ...        126.00                 0.60
Ord_906   Prod_11  SHP_1248  ...        110.20                 0.73
Ord_2746  Prod_11  SHP_3768  ...        110.20                 0.73

[5 rows x 9 columns]

In [79]:
print(market_df_ord.loc[['Ord_1581', 'Ord_1021', 'Ord_1686', 'Ord_2746', 'Ord_906'] ,:])

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
Ord_1581   Prod_4  SHP_2186  ...          8.99                 0.58
Ord_1581  Prod_17  SHP_2185  ...          8.51                 0.40
Ord_1581   Prod_4  SHP_2185  ...          7.69                 0.58
Ord_1581   Prod_2  SHP_2183  ...          6.75                 0.52
Ord_1021  Prod_15  SHP_1411  ...        130.00                 0.78
Ord_1686  Prod_15  SHP_2331  ...        126.00                 0.60
Ord_1686   Prod_4  SHP_2332  ...          4.20                 0.59
Ord_2746  Prod_11  SHP_3768  ...        110.20                 0.73
Ord_2746   Prod_6  SHP_3765  ...          9.18                 0.40
Ord_2746  Prod_13  SHP_3766  ...          8.99                 0.57
Ord_2746   Prod_1  SHP_3767  ...          7.51                 0.57
Ord_906   Prod_11  SHP_1248  ...        110.20                 0.73
Ord_906   Prod_11  SHP_1248  ...         60.00                  NaN
Ord_906    Prod_1  SHP_1247  ...         35.00                 0.82

[15 rows x 9 columns]

In [80]:
# Select Ord_id = Ord_5406 and 'Sales', 'Profit', 'Cust_id' columns
market_df_ord.loc['Ord_5406', ['Sales', 'Profit', 'Cust_id']]

Sales          42.27
Profit          4.56
Cust_id    Cust_1818
Name: Ord_5406, dtype: object

In [81]:
# Select all rows where Sales > 3000
# First, we get a boolean array where True corresponds to rows having Sales > 3000
market_df_ord[market_df_ord.Sales>3000]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1751  Prod_15  SHP_2426  ...        164.73                 0.56
Ord_839   Prod_11  SHP_1361  ...        154.12                 0.76
Ord_1741  Prod_11  SHP_2411  ...        147.12                 0.80
Ord_417   Prod_11   SHP_561  ...        147.12                 0.80
Ord_1021  Prod_15  SHP_1411  ...        130.00                 0.78
...           ...       ...  ...           ...                  ...
Ord_337    Prod_2   SHP_451  ...          0.99                 0.56
Ord_93     Prod_2   SHP_125  ...          0.99                 0.55
Ord_4725   Prod_4  SHP_6593  ...          0.99                 0.55
Ord_203    Prod_2   SHP_278  ...          0.99                 0.56
Ord_2638   Prod_2  SHP_3609  ...          0.99                 0.55

[1359 rows x 9 columns]

In [82]:
# Then, we pass this boolean array inside df.loc
(((market_df_ord['Sales'] < 3000) & (market_df_ord['Sales'] >2000)) & (market_df_ord.Profit>100))

Ord_id
Ord_1751    False
Ord_839     False
Ord_1741    False
Ord_417     False
Ord_1581     True
            ...
Ord_1987    False
Ord_1387    False
Ord_1890    False
Ord_284     False
Ord_3484    False
Length: 8399, dtype: bool

In [83]:
#Select  all orders having 2000 < Sales < 3000 and Profit > 100
market_df_ord[((market_df_ord['Sales'] < 3000) & (market_df_ord['Sales'] >2000 )) & (market_df_ord.Profit>100)]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
Ord_1115  Prod_11  SHP_1541  ...         59.24                 0.61
Ord_1594  Prod_15  SHP_2204  ...         43.71                 0.55
Ord_4555  Prod_11  SHP_6338  ...         43.57                 0.63
Ord_3901  Prod_15  SHP_5413  ...         30.00                 0.61
...           ...       ...  ...           ...                  ...
Ord_4927   Prod_4  SHP_6873  ...          0.99                 0.55
Ord_2150   Prod_4  SHP_2932  ...          0.99                 0.55
Ord_5032   Prod_4  SHP_7021  ...          0.99                 0.55
Ord_4228  Prod_12  SHP_5901  ...          0.49                 0.36
Ord_1558  Prod_12  SHP_2153  ...          0.49                 0.36

[328 rows x 9 columns]

In [84]:
#Select all orders having 2000 < Sales  OR Profit > 100
market_df_ord[(market_df_ord.Sales>2000)  | (market_df_ord.Profit>100)]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_1751  Prod_15  SHP_2426  ...        164.73                 0.56
Ord_839   Prod_11  SHP_1361  ...        154.12                 0.76
Ord_1741  Prod_11  SHP_2411  ...        147.12                 0.80
Ord_417   Prod_11   SHP_561  ...        147.12                 0.80
Ord_1581  Prod_15  SHP_2184  ...        143.71                 0.55
...           ...       ...  ...           ...                  ...
Ord_3413  Prod_12  SHP_4731  ...          0.49                 0.38
Ord_1558  Prod_12  SHP_2153  ...          0.49                 0.36
Ord_2852  Prod_12  SHP_3925  ...          0.49                 0.38
Ord_23    Prod_12    SHP_31  ...          0.49                 0.38
Ord_1890  Prod_12  SHP_2596  ...          0.49                 0.38

[3009 rows x 9 columns]

In [85]:
# Select all orders having 2000 < Sales < 3000 and Profit > 100
# Also, this time, you only need the Cust_id, Sales and Profit columns
data = market_df_ord[((market_df_ord['Sales'] < 3000) & (market_df_ord['Sales'] >2000 )) & (market_df_ord.Profit>100)]
data.loc[:, ['Cust_id', 'Sales', 'Profit']]

            Cust_id      Sales   Profit
Ord_id
Ord_1581   Cust_519  2573.9200   117.23
Ord_1115   Cust_419  2340.5040   243.16
Ord_1594   Cust_526  2084.9600   135.26
Ord_4555  Cust_1542  2029.4960   251.64
Ord_3901  Cust_1334  2770.7900   109.39
...             ...        ...      ...
Ord_4927  Cust_1688  2447.1075   856.96
Ord_2150   Cust_805  2773.0315   897.87
Ord_5032  Cust_1711  2628.9225   832.19
Ord_4228  Cust_1421  2455.5400  1361.88
Ord_1558   Cust_520  2905.3000  1704.00

[328 rows x 3 columns]

In [86]:
# Get the orders where sales is equal to 4233.15
market_df_ord[market_df_ord.Sales==4233.15]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_5485  Prod_17  SHP_7664  ...          26.3                 0.38

[1 rows x 9 columns]

In [87]:
# For instance, say a colleague gives you a list of customer_ids from a certain region

customers_in_hyd = ['Cust_1798', 'Cust_1519', 'Cust_637', 'Cust_851']

# get all the orders from these customers
market_df_ord[market_df_ord.Cust_id.isin(customers_in_hyd)]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_4424   Prod_1  SHP_6165  ...         35.00                  NaN
Ord_5348  Prod_15  SHP_7469  ...         30.00                 0.62
Ord_5435  Prod_16  SHP_7594  ...          8.37                 0.58
Ord_5435   Prod_4  SHP_7594  ...          7.69                 0.58
Ord_5353   Prod_4  SHP_7479  ...          7.69                 0.59
Ord_5411   Prod_6  SHP_7555  ...          6.92                 0.37
Ord_2220   Prod_3  SHP_3019  ...          6.28                 0.35
Ord_5388   Prod_6  SHP_7524  ...          5.35                 0.40
Ord_1833   Prod_3  SHP_2527  ...          4.98                 0.40
Ord_5459   Prod_6  SHP_7628  ...          4.86                 0.38
Ord_5384   Prod_9  SHP_7519  ...          2.50                 0.37
Ord_5348   Prod_8  SHP_7470  ...          1.99                 0.44
Ord_2324   Prod_7  SHP_3189  ...          1.35                 0.40
Ord_4444  Prod_13  SHP_6192  ...          0.98                 0.52

[14 rows x 9 columns]

In [89]:
# Read the data from "global_sales_data/cust_dimen.csv" into customer_df
customer_df = pd.read_csv('/content/cust_dimen.csv')
customer_df.shape

(1832, 5)

In [91]:
# Read the data from "global_sales_data/prod_dimen.csv" into product_df
product_df = pd.read_csv('/content/prod_dimen.csv')
product_df

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [94]:
# Read the data from "global_sales_data/shipping_dimen.csv" into shipping_df
shipping_df = pd.read_csv('/content/shipping_dimen.csv')
shipping_df

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
...        ...             ...         ...       ...
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [95]:
# Read the data from "global_sales_data/shipping_dimen.csv" into shipping_df
shipping_df = pd.read_csv('/content/shipping_dimen.csv')
shipping_df

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
...        ...             ...         ...       ...
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [96]:
# Customer dimension table: Each row contains metadata about customers
# Display the first five row
customer_df.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [97]:
# Product dimension table
# Display the first five row
product_df.head()

  Product_Category            Product_Sub_Category Prod_id
0  OFFICE SUPPLIES          STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES                      APPLIANCES  Prod_2
2  OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES  Prod_3
3       TECHNOLOGY    TELEPHONES AND COMMUNICATION  Prod_4
4        FURNITURE              OFFICE FURNISHINGS  Prod_5

In [98]:
# Shipping metadata
# Display the first five row
shipping_df.head()

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2
2       293     REGULAR AIR  03-10-2012   SHP_3
3       483     REGULAR AIR  12-07-2011   SHP_4
4       515     REGULAR AIR  30-08-2010   SHP_5

In [101]:
# Merging the dataframes
# Note that Cust_id is the common column/key, in market_df and customer_df
# Make sure the  customer ids present in both dfs are included in the result df1
df1 = pd.merge(market_df,customer_df )
df1.shape

(8399, 14)

In [102]:
# Now, you can subset the orders made by customers from 'Corporate' segment in df1
df1.Customer_Segment.value_counts()

CORPORATE         3076
HOME OFFICE       2032
CONSUMER          1649
SMALL BUSINESS    1642
Name: Customer_Segment, dtype: int64

In [103]:
#  merge the df1 and product_df  store the result in df2
df2 = pd.merge(df1, product_df)
print(df2.shape)
df2.head()

(8399, 16)

     Ord_id  Prod_id  ... Product_Category           Product_Sub_Category
0  Ord_5446  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
1  Ord_2978  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
2  Ord_5484  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
3  Ord_3730  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
4  Ord_4143  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS

[5 rows x 16 columns]

In [104]:
# Select all orders from product category = office supplies and from the corporate segment
df2[(df2.Product_Category=='OFFICE SUPPLIES') & (df2.Customer_Segment=='CORPORATE')]

        Ord_id  Prod_id  ... Product_Category           Product_Sub_Category
0     Ord_5446  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
3     Ord_3730  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
7     Ord_4506  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
9     Ord_1551  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
11    Ord_1429  Prod_16  ...  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
...        ...      ...  ...              ...                            ...
7545  Ord_4629   Prod_1  ...  OFFICE SUPPLIES         STORAGE & ORGANIZATION
7546  Ord_4604   Prod_1  ...  OFFICE SUPPLIES         STORAGE & ORGANIZATION
7551  Ord_3543   Prod_1  ...  OFFICE SUPPLIES         STORAGE & ORGANIZATION
7552  Ord_2722   Prod_1  ...  OFFICE SUPPLIES         STORAGE & ORGANIZATION
7553  Ord_4424   Prod_1  ...  OFFICE SUPPLIES         STORAGE & ORGANIZATION

[1680 rows x 16 columns]

Similary, you can merge the other dimension tables - shipping_df and orders_df to create a master_df and perform indexing using any column in the master dataframe.

In [105]:
# Merging shipping_df store result in df3
df3 = pd.merge(df2,shipping_df )
df3.shape

(8399, 19)

In [111]:
# Merging the orders table to create a master_df
master_df = pd.merge(df3,orders_df )
master_df.shape

(8399, 21)

In [109]:
# Read the data from "global_sales_data/orders_dimen.csv.csv" into orders_df
orders_df = pd.read_csv("/content/orders_dimen.csv")
orders_df

      Order_ID  Order_Date Order_Priority    Ord_id
0            3  13-10-2010            LOW     Ord_1
1          293  01-10-2012           HIGH     Ord_2
2          483  10-07-2011           HIGH     Ord_3
3          515  28-08-2010  NOT SPECIFIED     Ord_4
4          613  17-06-2011           HIGH     Ord_5
...        ...         ...            ...       ...
5501     47360  08-10-2010  NOT SPECIFIED  Ord_5502
5502     52706  09-07-2012            LOW  Ord_5503
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

[5506 rows x 4 columns]

In [110]:
# Orders dimension table
# Display the first five row
orders_df.head()

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2
2       483  10-07-2011           HIGH  Ord_3
3       515  28-08-2010  NOT SPECIFIED  Ord_4
4       613  17-06-2011           HIGH  Ord_5

In [112]:
# Which customer segments are the least profitable? 
# Use grouping with master_df on Customer_Segment
grp_cust = master_df.groupby('Customer_Segment')
print(grp_cust.Profit.sum())
print('Customer Segment with least profit:', grp_cust.Profit.sum().idxmin() )

Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
Name: Profit, dtype: float64
Customer Segment with least profit: CONSUMER

In [113]:
# Which product categories are the least profitable?
grp_product = master_df.groupby('Product_Category')['Profit'].sum()
print(grp_product)
grp_product.idxmin()

Product_Category
FURNITURE          117433.03
OFFICE SUPPLIES    518021.43
TECHNOLOGY         886313.52
Name: Profit, dtype: float64

'FURNITURE'

In [114]:
# Which product categories and sub-categories are the least profitable?
grp_sub_product = master_df.groupby(['Product_Category', 'Product_Sub_Category'])[['Profit', 'Sales']].sum()
grp_sub_product

                                                    Profit        Sales
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                       -33582.13   822652.040
                 CHAIRS & CHAIRMATS              149649.73  1761836.550
                 OFFICE FURNISHINGS              100427.93   698093.810
                 TABLES                          -99062.50  1896008.142
OFFICE SUPPLIES  APPLIANCES                       97158.06   736991.540
                 BINDERS AND BINDER ACCESSORIES  307413.39  1022957.590
                 ENVELOPES                        48182.60   174085.800
                 LABELS                           13677.17    38981.550
                 PAPER                            45263.20   446452.860
                 PENS & ART SUPPLIES               7564.78   167107.220
                 RUBBER BANDS                      -102.67    15006.630
                 SCISSORS, RULERS AND TRIMMERS    -7799.25    80996.310
                 STORAGE & ORGANIZATION            6664.15  1070182.600
TECHNOLOGY       COMPUTER PERIPHERALS             94287.48   795875.940
                 COPIERS AND FAX                 167361.49  1130361.300
                 OFFICE MACHINES                 307712.93  2168697.140
                 TELEPHONES AND COMMUNICATION    316951.62  1889313.802

In [115]:
master_df.groupby(['Product_Category','Product_Sub_Category'])[['Profit','Sales']].sum().idxmin()

Profit                (FURNITURE, TABLES)
Sales     (OFFICE SUPPLIES, RUBBER BANDS)
dtype: object

In [116]:
# Customers in which geographic region are the least profitable?
grp_region = master_df.groupby('Region')['Profit']
grp_region.min()

Region
ATLANTIC                -11769.17
NORTHWEST TERRITORIES   -11053.60
NUNAVUT                  -1766.01
ONTARIO                  -6474.65
PRARIE                  -11861.46
QUEBEC                   -9611.91
WEST                    -14140.70
YUKON                    -9078.94
Name: Profit, dtype: float64

In [0]:
total_sales = master_df.Sales.sum()

In [0]:
# Calculate the Sales across each region as a percentage of total Sales
# hint -the resulting object is a Series, thus you can perform vectorised computations on them
# You can divide the entire series by a number (total sales) easily

In [121]:
master_df[master_df.Profit>0]

        Ord_id  Prod_id   Ship_id  ...   Ship_Date  Order_Date  Order_Priority
1     Ord_5446   Prod_4  SHP_7610  ...  27-07-2010  27-07-2010   NOT SPECIFIED
3     Ord_2978  Prod_16  SHP_4112  ...  26-02-2011  24-02-2011            HIGH
5     Ord_3730  Prod_16  SHP_5175  ...  09-12-2009  07-12-2009          MEDIUM
7     Ord_4143   Prod_6  SHP_5770  ...  11-10-2009  09-10-2009        CRITICAL
10    Ord_4796  Prod_13  SHP_6687  ...  19-11-2009  16-11-2009        CRITICAL
...        ...      ...       ...  ...         ...         ...             ...
8389   Ord_757  Prod_14  SHP_1034  ...  16-01-2010  14-01-2010   NOT SPECIFIED
8390  Ord_1096  Prod_14  SHP_1512  ...  21-06-2011  14-06-2011             LOW
8391  Ord_5097  Prod_14  SHP_7119  ...  23-09-2011  21-09-2011        CRITICAL
8393   Ord_997  Prod_14  SHP_1379  ...  23-10-2010  22-10-2010   NOT SPECIFIED
8394  Ord_5018  Prod_14  SHP_7001  ...  05-01-2012  02-01-2012          MEDIUM

[4135 rows x 21 columns]

In [122]:
#master_df['isProfitable'] = master_df[master_df.Profit>0]
# Create a new column is_profitable
# The value in the coulmn is_profitable is True when the profit >0  else False
# Do the work using apply
master_df['isProfitable'] = master_df['Profit']

master_df['isProfitable'].apply(lambda x:x>0)

0       False
1        True
2       False
3        True
4       False
        ...
8394     True
8395    False
8396    False
8397    False
8398    False
Name: isProfitable, Length: 8399, dtype: bool

In [123]:
master_df['isProfitable'] = master_df['isProfitable'].apply(lambda x:x>0)
master_df[master_df['isProfitable']==True]

        Ord_id  Prod_id   Ship_id  ...  Order_Date  Order_Priority  isProfitable
1     Ord_5446   Prod_4  SHP_7610  ...  27-07-2010   NOT SPECIFIED          True
3     Ord_2978  Prod_16  SHP_4112  ...  24-02-2011            HIGH          True
5     Ord_3730  Prod_16  SHP_5175  ...  07-12-2009          MEDIUM          True
7     Ord_4143   Prod_6  SHP_5770  ...  09-10-2009        CRITICAL          True
10    Ord_4796  Prod_13  SHP_6687  ...  16-11-2009        CRITICAL          True
...        ...      ...       ...  ...         ...             ...           ...
8389   Ord_757  Prod_14  SHP_1034  ...  14-01-2010   NOT SPECIFIED          True
8390  Ord_1096  Prod_14  SHP_1512  ...  14-06-2011             LOW          True
8391  Ord_5097  Prod_14  SHP_7119  ...  21-09-2011        CRITICAL          True
8393   Ord_997  Prod_14  SHP_1379  ...  22-10-2010   NOT SPECIFIED          True
8394  Ord_5018  Prod_14  SHP_7001  ...  02-01-2012          MEDIUM          True

[4135 rows x 22 columns]

In [124]:
# you want to see Profit as one decimal place
# apply the round() function 
# the first value is -30.5
# the first value before is -30.51
# Modify the profit column itself
def number(x):
    return round(x,1)
number(54.221)
master_df['Profit'] = master_df['Profit'].apply(number)
master_df['Profit'].head()

0     -30.5
1    1148.9
2     -47.6
3      23.1
4     -17.6
Name: Profit, dtype: float64

In [125]:
# Creating a column Profit / Order_Quantity
# The new columnname is 'profit_per_qty'
master_df['profit_per_qty'] = master_df['Profit']/master_df['Order_Quantity']
master_df['profit_per_qty']

0        -1.326087
1        44.188462
2        -2.069565
3         0.855556
4        -0.502857
           ...
8394     49.978947
8395   -153.031034
8396     -9.482500
8397   -245.100000
8398    -48.987500
Name: profit_per_qty, Length: 8399, dtype: float64

In [126]:
# Compare average Sales across customer segments using pivot table
pd.pivot_table(master_df, values = 'Sales', index = 'Customer_Segment')

                        Sales
Customer_Segment
CONSUMER          1857.859965
CORPORATE         1787.680389
HOME OFFICE       1754.312931
SMALL BUSINESS    1698.124841

In [127]:
# compare total number of profitable orders across regions using pivot_table
# Note that since is_profitable is 1/0, we can directly compute the sum
master_df.pivot_table(values = 'Profit', index = 'Region', aggfunc=['count', 'mean'])

                       count        mean
                      Profit      Profit
Region
ATLANTIC                1080  221.261111
NORTHWEST TERRITORIES    394  255.464467
NUNAVUT                   79   35.965823
ONTARIO                 1826  189.960953
PRARIE                  1706  188.254513
QUEBEC                   781  179.803073
WEST                    1991  149.175892
YUKON                    542  136.254244

In [118]:
# Calculate the Sales across each region as a percentage of total Sales
grp_sales = master_df.groupby('Region').agg({'Sales':'sum'})
(grp_sales/total_sales)*100

                           Sales
Region
ATLANTIC               13.504305
NORTHWEST TERRITORIES   5.369193
NUNAVUT                 0.780233
ONTARIO                20.536970
PRARIE                 19.022396
QUEBEC                 10.124936
WEST                   24.119372
YUKON                   6.542595